header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: black solid 2px;
  margin-bottom: 20px;
}

/* LEFT-PART HEADER */

.logo-vinted {
  height: 37px;
  width: 84px;
}

.left-part {
  margin-left: 100px;
  display: flex;
  align-items: center;
  align-items: space-around;
}

/* MENU */

.button-menu {
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  height: 37px;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style-type: none;
  float: left;
  position: relative;
}

.menu ul li a {
  color: #000;
  text-decoration: none;
  width: 150px;
  height: 30px;
  display: block;
}

.menu ul ul {
  position: absolute;
  top: 30px;
  visibility: hidden;
}

.menu ul li:hover ul {
  visibility: visible;
}

/* SEARCHBAR */

.search {
  height: 40px;
  width: 500px;
  border-radius: 10px;
  border: ivory;
  background-color: lightgray;
}

/* RIGHT-PART HEADER */

.right-part {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
}

.buttons-header {
  width: 152px;
  height: 30px;
  border-radius: 10px;
  background-color: #0cadb7;
  border: none;
  color: white;
}

/* BANNIERE */

.bannière {
  height: 490px;
}

.image-centrale {
  height: 428px;
  width: 100%;
  object-fit: cover;
}

.grid {
  border: 2px solid black;
  width: 1240px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.offer {
  width: 197px;
  height: 385px;
}
